nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-left: 60px;
  padding-right: 60px;
  /*background-color: #f19320;*/
}
h1{
  font-family: Monospace;
}
h1 b {
  font-size: 60px;
}

a{
  font-weight: bold;
  color: black;
  text-decoration: none;
}

a:hover{
  color: #f19320;
  font-size: 18px;
}

div{
  width: auto;
  gap: 15px;
  display: flex;
  justify-content: space-around;
}
