<div>
  <div class="paraimg">
    <div class="paragraph">
      <p> <i>Cook  like a Pro with</i>  <br>
        <i>Our</i>  <b> Easy </b>   <i>and</i>  <b> Tasty </b>  <br>
        <i>Recipes</i> </p>
    </div>
    <div class="image">
      <img src="/assets/cook.jpg">
    </div>
  </div>

  <div class="rows">
    <div class="row11">

      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/assets/tacos.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">tacos</h5>
          <a routerLink="recipe-detail" class="btn">see more</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/assets/tacos.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">tacos</h5>
          <a routerLink="recipe-detail" class="btn">see more</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/assets/tacos.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">tacos</h5>
          <a routerLink="recipe-detail" class="btn">see more</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/assets/tacos.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">tacos</h5>
          <a routerLink="recipe-detail" class="btn">see more</a>
        </div>
      </div>

    </div>
    <div class="row12">

      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/assets/tacos.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">tacos</h5>
          <a routerLink="recipe-detail" class="btn">see more</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/assets/tacos.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">tacos</h5>
          <a routerLink="recipe-detail" class="btn">see more</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/assets/tacos.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">tacos</h5>
          <a routerLink="recipe-detail" class="btn">see more</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/assets/tacos.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">tacos</h5>
          <a routerLink="recipe-detail" class="btn">see more</a>
        </div>
      </div>


    </div>
  </div>
</div>
